body {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
canvas {
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  border: #37313b 1px solid;
  border-radius: 0;
  position: absolute;
  transform: scale(4);
}
